@font-face {
  font-family: "iconfont"; /* Project id 4815356 */
  src:url('/static/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before {
  content: "\e633";
}

.icon-fuwushouxufei:before {
  content: "\e600";
}

.icon-gengkuaijie-copy:before {
  content: "\e601";
}

.icon-yinxingqia-copy:before {
  content: "\e602";
}

.icon-anquanrenzheng:before {
  content: "\e603";
}

.icon-daishoujine:before {
  content: "\e606";
}

.icon-dongjiejine:before {
  content: "\e607";
}

.icon-geren:before {
  content: "\e608";
}

.icon-gerenziliao:before {
  content: "\e609";
}

.icon-huodongtuiguang:before {
  content: "\e60a";
}

.icon-jifen:before {
  content: "\e60b";
}

.icon-jifenshangcheng:before {
  content: "\e60c";
}

.icon-jiangli:before {
  content: "\e60d";
}

.icon-jiaoyijilu:before {
  content: "\e60e";
}

.icon-jiekuanziliaorenzheng:before {
  content: "\e60f";
}

.icon-leijishouyi:before {
  content: "\e610";
}

.icon-licaijilu:before {
  content: "\e611";
}

.icon-licaitongjibiao:before {
  content: "\e612";
}

.icon-mimaguanli:before {
  content: "\e613";
}

.icon-anquanrenzheng1:before {
  content: "\e614";
}

.icon-chongzhi2:before {
  content: "\e615";
}

.icon-daishoujine1:before {
  content: "\e616";
}

.icon-dongjiejine1:before {
  content: "\e617";
}

.icon-geren1:before {
  content: "\e618";
}

.icon-gerenziliao1:before {
  content: "\e619";
}

.icon-huodongtuiguang1:before {
  content: "\e61a";
}

.icon-jifen1:before {
  content: "\e61b";
}

.icon-jifenshangcheng1:before {
  content: "\e61c";
}

.icon-jiangli1:before {
  content: "\e61d";
}

.icon-jiaoyijilu1:before {
  content: "\e61e";
}

.icon-jiekuanziliaorenzheng1:before {
  content: "\e61f";
}

.icon-leijishouyi1:before {
  content: "\e620";
}

.icon-licaijilu1:before {
  content: "\e621";
}

.icon-licaitongjibiao1:before {
  content: "\e622";
}

.icon-mimaguanli1:before {
  content: "\e623";
}

.icon-quan:before {
  content: "\e624";
}

.icon-shimingrenzheng:before {
  content: "\e625";
}

.icon-shouji:before {
  content: "\e626";
}

.icon-shourangzhaiquanguanli:before {
  content: "\e627";
}

.icon-tixian:before {
  content: "\e628";
}

.icon-wodejiekuan:before {
  content: "\e629";
}

.icon-wodelicai:before {
  content: "\e62a";
}

.icon-wodeshoucang:before {
  content: "\e62b";
}

.icon-woyaohuankuan:before {
  content: "\e62c";
}

.icon-yinxingqia:before {
  content: "\e62d";
}

.icon-yinxingqiarenzheng:before {
  content: "\e62e";
}

.icon-yinghuanjine:before {
  content: "\e62f";
}

.icon-zhanneixin:before {
  content: "\e630";
}

.icon-zidongtoubiao:before {
  content: "\e631";
}

.icon-zongshouyi:before {
  content: "\e632";
}

.icon-chongzhi:before {
  content: "\e604";
}
.icon-appxiazai:before {
  content: "\e63f";
}


