a{
	text-decoration: none;
}
.nav-menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-menu>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}
.nav-menu a {
    display: block;
    position: relative;
    color: #F6F6F8;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.nav-menu .active > a, .nav-menu li:hover > a {
    color: #FF571D;
}
.ddown{
	position: absolute;
	top: 40px;
	border-radius: 5px;
    padding: 10px 0;
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px #0D112F;
    box-shadow: 0px 0px 30px #0D112F;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.ddown a{
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #0D1C2D;
}
   label {
       display: inline-block;
       max-width: 100%;
       margin-bottom: 5px;
       font-weight: bold;
   }
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.control-label{
	color: #8586AA;
}
.rechargelist{
	height: 34px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
		width: 100%;     border: 1px solid #ccc;
		border-radius: 4px;background-color: #eee;
}

.form-group {
    margin-bottom: 15px;
}
 .fontPanel {
    color: #F6F6F8;
	padding: 27px 0 30px 0;
	    font-size: 30px;
}
.imgWrap > a {
    width: 25%;
    margin-right: 30px;
	height: 120px;
}
.imgWrap img {
    width: 100%;
    cursor: pointer;
	height:100%
}
.bgMainDark {
    background: #0D112F;
}
.nav-menu i{
	font-size: 20px;
	margin-right: 3px;
}
.text-center {
	text-align: center;
}

.font-13 {
	font-size: 13px;
}

.font-12 {
	font-size: 12px;
}

.font-11 {
	font-size: 11px;
}

.text-grey1 {
	color: #888;
}
.text-grey2 {
	color: #aaa;
}

.list-cell-arrow::before {
    content: ' ';
    height: 10px;
    width: 10px;
    border-width: 2px 2px 0 0;
    border-color: #c0c0c0;
    border-style: solid;
    -webkit-transform: matrix(0.5, 0.5, -0.5, 0.5, 0, 0);
    transform: matrix(0.5, 0.5, -0.5, 0.5, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 30rpx;
  }

  .list-cell {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    padding: 26rpx 30rpx;
  }

  .list-cell:first-child {
    border-radius: 8rpx 8rpx 0 0;
  }

  .list-cell:last-child {
    border-radius: 0 0 8rpx 8rpx;
  }

  .list-cell::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #eaeef1;
    -webkit-transform: scaleY(0.5) translateZ(0);
    transform: scaleY(0.5) translateZ(0);
    transform-origin: 0 100%;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
  }
.fontTitle{
	color: #0D1C2D;
	font-size: 24px;
	font-weight: normal;
}

  .menu-list {
    margin: 0px 15px;

    .menu-item-box {
      width: 100%;
      display: flex;
      align-items: center;

      .menu-icon {
        color: #007AFF;
        font-size: 16px;
        margin-right: 5px;
      }

      .text-right {
        margin-left: auto;
        margin-right: 34rpx;
        color: #999;
      }
    }
  }
#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 997;
    height: 56px;
}